<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div *ngIf='flag'>
    <div class='outer'>
      <img (click)='flag=false' class='inner' width="300" alt="Angular Logo" src="../assets/FORT - assessment - logo.svg">
    </div>
    <div style="margin-top: 1%;color: gray;">
      <label>Click above</label>
    </div>
  </div>
  <div *ngIf='!flag'>
    <div style="margin-top: 42px;
    margin-left: 636px;
    color: gray;
    position: absolute;">
      <h3>Welcome</h3>
    </div>
    <div>
      <img  class='outerRobo' (click)='flag=false' width="300" alt="Angular Logo" src="../assets/FORT - assessment - robo.png">
    </div>
  </div>
</div>


