<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <div id='outer'>
      <div  id='inner'>        
      <img (click)='setFlag()' id='img' width="300" alt="Angular Logo" src="assets/FORTlogo.svg">
      </div>
    </div>
    <div style="margin-top: 1%;color: gray;">
      <label id='ca'>Click above</label>
    </div>
  </div>
  <div>
    <!-- <div  id='outer'> -->
      <h3 id='wel'>Welcome</h3>
    <!-- </div> -->
    <div>
      <img  id='outerRobo' width="300" alt="Angular Logo" src="assets/FORTrobo.png">
    </div>
  </div>
</div>


